/* ======================= General Elements =======================*/

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

.logo {
  font-family: 'Akronim', cursive;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  min-height: calc(100vh - 56px - 48px - 124px);
}

textarea:focus,
textarea.form-control:focus,
select:focus,
select.form-control:focus,
input.form-control:focus,
input:focus {
  box-shadow: 0 0 0 2px #dadada !important;
  border: 1px solid #ccc !important;
}

i {
  color: #212529;
  cursor: pointer;
}

input[type='file'] {
  visibility: hidden;
  display: none;
}

input:focus, select:focus, textarea:focus {
  outline: none !important;
}

h1, h2, h4 {
  font-weight: 400 !important;
  letter-spacing: 1px;
}

textarea {
  resize: none !important;
}

footer {
  padding: 20px;
  background-color: #f8f9fa;
  width: 100%;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 10px;
}

footer li a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
  transition: all 0.2s ease-in-out;
}

footer li a:hover {
  border: 1px solid #ccc;
  background-color: #dadada;
}

/* ============================================================*/

/* ======================= AddVideoModal Elements =======================*/

.modal-dialog {
  max-width: 1100px !important;
}

.AddVideoModal .video-box {
  position: relative;
  width: 100%;
  height: 258px;
  margin-top: 32px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  overflow: hidden;
}

.AddVideoModal .video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
}

@media(max-width: 770px) {
  .AddVideoModal .video-box {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

/* ============================================================*/

/* ======================= Videos Elements =======================*/

.Videos h2 {
  margin-top: 50px;
}

.Videos .videoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.Videos .video-card {
  justify-self: center;
  align-self: center;
  max-width: 300px;
  margin: 20px;
}

.Videos .video-card .video-box {
  position: relative;
  height: 180px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  overflow: hidden;
}

.Videos .video-card .video-box > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
}

.Videos .video-card .video-content {
  padding-top: 5px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Videos .video-card .video-content .description {
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 5px;
}

.Videos .video-card .video-content div {
  color: #606060;
}

.Videos .video-card .video-content div span {
  font-size: 0.9rem;
  line-height: 1.3;
}

/* ============================================================*/

/* ======================= MyVideos Elements =======================*/

.MyVideos .video-box {
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
}

.MyVideos .video-box.uncompleted {
  opacity: 0.5;
}

.MyVideos .video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  object-fit: cover;
}

.MyVideos table tr .videoTd, .descriptionTd {
  width: 250px;
}

.MyVideos table tr .buttonsTd div {
  width: 100%;
}

@media (max-width: 1000px) {
  .MyVideos table {
    border-collapse: unset;
  }

  .MyVideos table thead {
    display: none;
  }

  .MyVideos table tbody tr {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }

  .MyVideos table tbody tr:last-child {
    margin-bottom: 0;
  }

  .MyVideos table td:not(.buttonsTd)::before {
    content: attr(data-header);
    font-weight: bold;
    margin-left: 25px;
  }

  .MyVideos table tr .buttonsTd {
    width: 100%;
    background: #f8f9fa;
  }

  .MyVideos table tr .videoTd, .MyVideos table tr .descriptionTd {
    width: 100%;
  }

  .MyVideos .video-box, .MyVideos .description {
    max-width: 220px;
  }

  .MyVideos table tr td {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .MyVideos table tr td:first-child {
    border-bottom: 1px solid #dee2e6;
  }
}

/* ============================================================*/

/* ======================= NotFound Elements =======================*/

.NotFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NotFound div {
  color: #ccc;
}

.NotFound div i {
  font-size: 10rem;
  color: #979797;
}

.NotFound div h1 {
  font-size: 4rem;
  color: #ccc;
}

.NotFound p {
  font-size: 1.5rem;
  color: #979797;
}

/* ============================================================*/

/* ======================= Login Elements =======================*/

.Login .PasswordInput {
  position: relative;
}

.Login .PasswordInput svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  cursor: pointer;
}

/* ============================================================*/