/* ======================= General Elements =======================*/

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 56px - 48px - 124px);
}

i {
  color: #212529;
  cursor: pointer;
}

img {
  border-radius: 5px;
  width: 150px;
  height: 100px;
}

input[type='file'] {
  visibility: hidden;
  display: none;
}

h2, h4 {
  font-weight: 300 !important;
}

textarea {
  resize: none !important;
}

footer {
  padding: 20px;
  background-color: #f8f9fa;
  width: 100%;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 10px;
}

footer li a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
  transition: all 0.2s ease-in-out;
}

footer li a:hover {
  border: 1px solid #ccc;
  background-color: #dadada;
}

/* ============================================================*/

/* ======================= AddVideoModal Elements =======================*/

.modal-dialog {
  max-width: 1100px !important;
}

.AddVideoModal .video-box {
  position: relative;
  width: 100%;
  height: 252px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  overflow: hidden;
}

.AddVideoModal .video-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AddVideoModal .video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
}

/* ============================================================*/

/* ======================= Videos Elements =======================*/

.Videos .video-card {
  position: relative;
  margin: 20px;
}

.Videos .video-card .video-box {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.Videos .video-card .video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
}

.Videos .video-card h4 {
  line-height: 2.5rem;
}

.Videos .video-card p {
  line-height: 2.5rem;
}

.Videos .video-card strong {
  font-weight: 500;
}

/* ============================================================*/